

h5#catlbl5 {
    position: relative;
    top: -41rem;
    left: 20%;
    font-family: Public Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
}

h6#catlblmsg5 {
    position: relative;
    left: 28rem;
    top: -20rem;
    color: #6D737A;
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

span#text4{
    font-family: Public Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color:#20B486;
    font-style: normal;
}

svg#bigline3 {
    position: absolute;
    left: 27%;
    top: 90rem;
}

div#page4 {
    background-color: #FFFAF5;
    position: relative;
    top: -25rem;
    height: 130vh;
    width: 100%;
    float: left;
}


svg#Image2 {
    position: relative;
    top: 7rem;
}

button#sgn1 {
    width: 168px;
    position: relative;
    left: 28rem;
    top: -22rem;
    padding: 12px 24px;
    gap: 10px;
    border-radius: 8px;
    background-color: #20B486;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

h5#catlbl5 {
    position: relative;
    top: -17rem;
    left: 28rem;
}

div#demos3 {
    position: relative;
    width: 45rem;
    left: 15rem;
    top: -53rem;
}

div#page5 {
    /* background-color: #E9F8F3B2; */
    position: relative;
    top: -19rem;
    /* width: 100%; */
    height: 85vh;
    /* float: inline-start; */
}

div#page8 {
    position: relative;
    top: 10rem;
    left: 7rem;
}